---
name: CI
on: [push, pull_request]
jobs:
  build:
    env:
      BENCHMARK_ITERATIONS: 100
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12, 14, 16, 17]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Use Node.js
        uses: actions/setup-node@v2.5.1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Restore cached dependencies
        uses: actions/cache@v2.1.7
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package.json') }}
      - name: Install dependencies
        run: npm install
      - name: Run Tests
        run: npm run ci
      - name: Run benchmarks
        if: ${{matrix.node-version > 12}}
        run: |
          npm run benchmark:sign
          npm run benchmark:decode
          npm run benchmark:verify
          npm run benchmark:auth0

  automerge:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request' }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
